//primary colors
$primaryVeryDark: hsl(243, 87%, 12%);
$primaryDesaturated: hsl(238, 22%, 44%);

//accent colors
$accentBright: hsl(224, 93%, 58%);
$accentModerate: hsl(170, 45%, 43%);

//neutral colors
$neutralLightGrayish: hsl(240, 75%, 98%);
$neutralLight: hsl(0, 0%, 75%);

//typography
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;

//breakpoints
$mobile: "min-width: 600px";
$tablet: "min-width: 800px";
$desktop: "min-width: 1000px";