.intro {
  padding-bottom: 6rem;
  @media screen and ($desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  img {
    max-width: 100%;
    margin-bottom: 4rem;
    @media screen and ($desktop) {
      max-width: 45%;
      height: fit-content;
    }
  }
  div {
    @media screen and ($desktop) {
      max-width: 45%;
    }
    form {
      @media screen and ($desktop) {
        display: flex;
        margin: 0;
      }
      input,
      button {
        width: 100%;
        margin: 1rem auto;
        @media screen and ($desktop) {
          margin: 1rem 0;
          margin-right: 1rem;
        }
      }
      input {
        @media screen and ($desktop) {
          width: 50%;
        }
      }
      button {
        @media screen and ($desktop) {
          width: 40%;
          padding: 0.8rem 1rem;
        }
      }
    }
  }
}
